body{
	background-color: #DAAD86;
	color: #fff;
	text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 300;
}

.container{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}

h4 {
    margin: 0;
    font-size: 1.4rem;
}

.time {
    font-size: 1.5rem;
}

.title {
    margin-top: 4rem;
    font-size: 2rem;
}

.break, .session {
	display: inline-block;
	padding: 20px;
}

.setter > * {
	display: inline-block;
}

.pomodoro {
	border: 1px solid #fff;
	width: 200px;
	height: 200px;
	margin: 20px auto;
	border-radius: 50%;
	position: relative;
	cursor: pointer;
}

.pomodoro-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

button {
	background: none;
    color: white;
    border: none;
    font-size: 1rem;
    padding: 5px;
    cursor: pointer;
    outline: none;
}